---
import { Image } from 'astro:assets'
import artists from './json/artists.json'

const { img } = Astro.props
---

{//This part styles the thumbnail images
}
<figure class="object-contain h-72 relative transition-opacity ease-in cursor-pointer hover:-translate-y-1 hover:-translate-x-1 hover:shadow-2xl hover:scale-110 duration-300 hover:z-10" data-dialog-target={img.title}>
  <Image
    src={img.src}
    width="1200"
    height="750"
    alt={img.alt}
    class="object-cover object-center w-full h-72 max-w-full"
  />
</figure>

{
// define the backdrop
}
<div data-dialog-backdrop={img.title} data-dialog-backdrop-close="true"
  class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
  <!-- define the actual image field -->
  <div 
    class="flex flex-col max-w-[75%] max-h-[90vh] justify-center items-center"
    role="dialog" data-dialog={img.title} data-dialog-close="true">
    <!-- we use <img> here since we want the not .webp version -->
    <img 
      alt={img.alt}
      src={img.src}
      class="h-full object-scale-down object-center shadow-2xl"
      />
    <div class="flex flex-col">
      <h2 class="uppercase text-xl">{img.title}</h2>
      <p class="text-sm text text-dark-gray-500">
        {
          (img.artist in artists) ? (
            <a class="underline hover:text-dark-gray-200" href={artists[img.artist]}>by {img.artist}</a>
          ) : ( 
            "by " + img.artist
          )
        }
      </p>
    </div>
  </div>
</div>