---
import '@/styles/base.css'

interface Props {
  title?: string | undefined
  description?: string | undefined
  author?: string | undefined
  og: string
}

const { title, description, author, og } = Astro.props
---

<head>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow" />
  <meta
    name="googlebot"
    content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
  />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <meta name="author" content={author} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(og, Astro.url)} />
  <meta name="twitter:url" content={Astro.url} />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={new URL(og, Astro.url)} />
  <meta name="twitter:card" content="summary_large_image" />

  <!-- analytics stuff -->
  <script defer src="https://analytics.eu.umami.is/script.js" data-website-id="45c20637-3d41-4761-b469-b21c86a80f43"></script>
</head>
