---
// import { glob } from 'glob'
import BaseImage from './BaseImage.astro';
import imageData from './images.json'
import test from '../images/Pokecuddles.png'

// async function ImageFetcher(pattern: string) {
//   const files = glob.sync(pattern, { posix: true })
//   const imagePromises = files.map(async (file) => {
//     const src = file.replace('public', '')
//     return { src }
//   })

//   const imageFiles = await Promise.all(imagePromises)

//   imageFiles.sort((a, b) => a.src.localeCompare(b.src))

//   return imageFiles
// }
const localImages = await Astro.glob('../images/*');
const { nsfw } = Astro.props

// console.log(imageFiles);
// console.log(example)
const imagePromises = localImages.map(async (file) => {
  const src = file.default
  return { src }
})

const imageSrc = await Promise.all(imagePromises)
const correctSrcPromise = imageData.images.map(async (pics) => {
  for (let sources of imageSrc) {
    if (sources.src.src.includes(pics.src)) {
      const image = Object.assign(pics,sources)
      return image
    }
  }
  return pics
})

const correctSrc = await Promise.all(correctSrcPromise)
console.log(test)

let filteredImages
if (nsfw) {
  filteredImages = correctSrc.filter(image => !image.sfw)
} else {
  filteredImages = correctSrc.filter(image => image.sfw)
}

// console.log(filteredImages);

// if (Astro.props.nsfw) {
//   imageFiles = await ImageFetcher('public/images/nsfw/*.{jpg,,jpeg,png,webp}')
// } else {
//   imageFiles = await ImageFetcher('public/images/sfw/*.{jpg,,jpeg,png,webp}')
// }

---
<div id="main">
  { 
    filteredImages.map((img) => (
      <BaseImage img={img} />
    ))
  }
</div>


<!-- <div id="main">
  {
    imageFiles.map((img) => (
      <article class="thumb">
        <a class="image" href={img.src}>
          <Image
            src={img.src}
            width="1200"
            height="750"
            alt="Astro Multiverse"
          />
        </a>
        <h2>{title}</h2>
        <p>{description}</p>
      </article>
    ))
  }
</div> -->
